@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        @using Microsoft.AspNetCore.Authentication
        <div>
            <strong>id_token:</strong>
            <span>@await ViewContext.HttpContext.GetTokenAsync("id_token")</span>
        </div>
        <hr />
        <div>
            <strong>access_token:</strong>
            <span>@await ViewContext.HttpContext.GetTokenAsync("access_token")</span>
        </div>
        <hr />
        <div>
            <strong>refresh_token</strong>
            <span>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</span>
        </div>
        <hr />
        <dl>
            @foreach (var item in User.Claims)
            {
            <dt>@item.Type:@item.Value</dt>
            }
        </dl>
    </p>

</div>
